<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="build/css/application.css" />
    <script defer src="build/js/application.js"></script>
    <title>صفحه ی ثبت نام</title>
  </head>
  <body>
    <section
      class="vh-100"
      style="background-color: #eee; min-height: 100vh"
      dir="rtl"
    >
      <div class="d-flex col-11 mx-auto justify-content-start">
        <div>
          <a href="/" class="btn btn-mdb-color text-right mx-auto round12"
            ><i class="fa fa-arrow-right ml-2"></i> بازگشت به صفحه ی اصلی
          </a>
        </div>
      </div>
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-lg-12 col-xl-11 mt-2 mt-md-4">
            <div class="card text-black" style="border-radius: 25px">
              <div class="card-body p-md-4">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4">
                      ساخت اکانت
                    </p>

                    <form class="application-form signup-form mx-1 mx-md-4">
                      <div class="d-flex flex-row align-items-start mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw p-2"></i>
                        <div class="form-outline flex-fill mb-0 text-right">
                          <!-- <label class="form-label" for="form3Example1c"
                            >نام کاربری</label
                          > -->
                          <input
                            type="text"
                            id="form3Example1c"
                            class="form-control"
                            name="username"
                            placeholder="نام کاربری"
                          />
                          <div>
                            <span class="badge badge-danger"
                              >نام قبلا ثبت شده است</span
                            >
                          </div>
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-start mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw p-2"></i>

                        <div class="form-outline flex-fill mb-0 text-right">
                          <input
                            type="email"
                            id="form3Example3c"
                            class="form-control"
                            name="email"
                            placeholder="ایمیل"
                          />
                          <div>
                            <span class="badge badge-success">تائید شد</span>
                          </div>
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-start mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw p-2"></i>
                        <div class="form-outline flex-fill mb-0 text-right">
                          <input
                            type="password"
                            id="form3Example4c"
                            class="form-control"
                            name="password"
                            placeholder="گذرواژه"
                          />
                          <div>
                            <i class="fa fa-spinner fa-spin"></i>
                          </div>
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-start mb-4">
                        <i class="fas fa-key fa-lg me-3 fa-fw p-2"></i>

                        <div class="form-outline flex-fill mb-0 text-right">
                          <input
                            type="password"
                            id="form3Example4cd"
                            class="form-control"
                            name="password2"
                            placeholder="تائید گذرواژه"
                          />
                          <div>
                            <span class="badge badge-danger"
                              >گذرواژه ها یکسان نیستند</span
                            >
                          </div>
                        </div>
                      </div>
                      <div
                        class="d-flex flex-row justify-content-center align-items-start"
                      >
                        <span>از پیش اکانت داری؟</span>
                        <a href="#" class="mr-2 text-primary font-weight-bold"
                          >ورود</a
                        >
                      </div>
                      <div
                        class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"
                      >
                        <button type="submit" class="btn btn-indigo rounded">
                          ثبت نام
                        </button>
                      </div>
                      <div
                        class="d-flex flex-row mx-auto align-items-center mb-4 justify-content-center"
                      >
                        <span class="vazir-black">ورود با حساب گوگل :</span>
                        <button class="btn btn-danger btn-sm p-1 round12">
                          <i class="fab fa-google fa-lg me-3 fa-fw p-2"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                  <div
                    class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
                  >
                    <img
                      src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                      class="img-fluid"
                      alt="Sample image"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
