@font-face {
  font-family: "Vazir-Black";
  src: url("../../fonts/Vazir-Black-FD-WOL.eot");
  src: url("../../fonts/Vazir-Black-FD-WOL.eot");
  src: url("../../fonts/Vazir-Black-FD-WOL.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/Vazir-Black-FD-WOL.woff2") format("woff2"),
    url("../../fonts/Vazir-Black-FD-WOL.woff") format("woff"),
    url("../../fonts/Vazir-Black-FD-WOL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vazir-Bold";
  src: url("../../fonts/Vazir-Bold-FD-WOL.eot");
  src: url("../../fonts/Vazir-Bold-FD-WOL.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/Vazir-Bold-FD-WOL.woff2") format("woff2"),
    url("../../fonts/Vazir-Bold-FD-WOL.woff") format("woff"),
    url("../../fonts/Vazir-Bold-FD-WOL.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Vazir-Light";
  src: url("../../fonts/Vazir-Light-FD-WOL.eot");
  src: url("../../fonts/Vazir-Light-FD-WOL.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/Vazir-Light-FD-WOL.woff2") format("woff2"),
    url("../../fonts/Vazir-Light-FD-WOL.woff") format("woff"),
    url("../../fonts/Vazir-Light-FD-WOL.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Vazir-Medium";
  src: url("../../fonts/Vazir-Medium-FD-WOL.eot");
  src: url("../../fonts/Vazir-Medium-FD-WOL.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/Vazir-Medium-FD-WOL.woff2") format("woff2"),
    url("../../fonts/Vazir-Medium-FD-WOL.woff") format("woff"),
    url("../../fonts/Vazir-Medium-FD-WOL.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Vazir-Regular";
  src: url("../../fonts/Vazir-Regular-FD-WOL.eot");
  src: url("../../fonts/Vazir-Regular-FD-WOL.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/Vazir-Regular-FD-WOL.woff2") format("woff2"),
    url("../../fonts/Vazir-Regular-FD-WOL.woff") format("woff"),
    url("../../fonts/Vazir-Regular-FD-WOL.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Vazir-Thin";
  src: url("../../fonts/Vazir-Thin-FD-WOL.eot");
  src: url("../../fonts/Vazir-Thin-FD-WOL.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/Vazir-Thin-FD-WOL.woff2") format("woff2"),
    url("../../fonts/Vazir-Thin-FD-WOL.woff") format("woff"),
    url("../../fonts/Vazir-Thin-FD-WOL.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
